/*SOBRE NOSOTROS*/
.nosotros{
    display: flex;
    margin: 20px;
}

.nosotros-img{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.nosotros-img img{
    width: 50%;
}

.nosotros-tex{
    width: 40%;
    padding: 30px;
}